<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <appSettings>
    <!-- Flags are: Console, File -->
    <add key="LoggerMode" value="Console, File"/>
    <!-- Values are: None, Critical, Error, Warning, Debug, Trace -->
    <add key="LogLevel" value="Info"/>
    
    <!-- Http / Https(RECOMMENDED)  -->
    <add key="Protocol" value="Http"/>
    <!-- Server binding port -->
    <add key="Port" value="8888"/>
    <!-- If true, then GZip data compression is enabled (for requests with Accept-Encoding: gzip) -->
    <add key="AutoGzipCompression" value="true"/>
    
    <!-- Files directory root -->
    <add key="FilesLocation" value="C:\Users\b0-0b\Pictures"/>
  
    <!-- Maximum number of threads running concurrently for http server computations (>= number of cores (including hyperthreading)) -->    
    <add key="WorkerThreads" value="16"/>
    <!-- Maximum number of threads running concurrently for http server io completion await (>= number of cores (including hyperthreading)) -->
    <add key="IocpThreads" value="16"/>
  </appSettings>
</configuration>
